@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);
@import url(https://fonts.googleapis.com/css?family=Cause:100,200,300,regular,500,600,700,800,900);
.container {
    display: flex;
    justify-content: center;
    align-items: center;     
    gap: 10px;               
    max-width: 800px;
    margin: 0 auto;          
}

.button h2 {
    color: #ffffff;
    font-size: 60px;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}
#catImg {
    margin-top: -120px;
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-fit: cover; 
    --shadow-color: rgb(90, 44, 254);
    box-shadow: 
        0 0 10px 4px var(--shadow-color),   
        0 0 30px 12px var(--shadow-color), 
        0 0 70px 25px var(--shadow-color); 
    opacity: 1;
    transition: opacity 0.2s ease-in-out ;
}
#achiv{
    --achiv-color: rgb(90, 44, 254);
    color: var(--achiv-color);
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    margin-top: 475px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 2px var(--name-color);
}
#catName {
    --name-color: rgb(90, 44, 254);
    color: var(--name-color);
    font-family: 'Press Start 2P', cursive;
    font-size: 28px;
    margin: 0;
    margin-top: -430px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px var(--name-color);
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #000;
    font-family: sans-serif;
}
.button {

    margin-top:-125px;
    width: 100px;
    height: 100px;
    padding: 20px 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#catInfo{
    white-space: pre-line;/*pt \n */
    --text-color: rgb(90, 44, 254);
    color: var(--text-color);
    font-family: 'Cause', regular;
    --fontSize:25px;
    font-size:var(--fontSize);
    margin-top: 7px;
    text-align: center;
}